services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgresql://admin:admin@db:5432/indexdb"
  
  db:
    image: postgres:13
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: indexdb
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: {}
